@import "tailwindcss";

/* Global styles or component-specific styles */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #585D6E;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dee1e4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bec2c4;
}
